<?xml version='1.0' encoding="UTF-8" ?>
<menu>
	<item id="i001">
		<name>item 1</name>
		<description>这里是物品的描述内容，物品1</description>
		<price>1.01</price>
	</item>
	<item id="i002">
		<name>item 2</name>
		<description></description>
		<price>2.02</price>
	</item>
	<item id="i003">
		<name>item 3</name>
		<description></description>
		<price>3.03</price>
	</item>
	<item id="i004">
		<name>item 4</name>
		<description></description>
		<price>4.04</price>
	</item>
	<item id="i005">
		<name>item 5</name>
		<description></description>
		<price>5.05</price>
	</item>
	<item id="i006">
		<name>item 6</name>
		<description></description>
		<price>6.06</price>
	</item>
	<item id="i007">
		<name>item 7</name>
		<description></description>
		<price>7.07</price>
	</item>
	<item id="i008">
		<name>item 8</name>
		<description></description>
		<price>8.08</price>
	</item>
	<item id="i009">
		<name>item 9</name>
		<description></description>
		<price>9.09</price>
	</item>
	<item id="i010">
		<name>item 10</name>
		<description></description>
		<price>10.10</price>
	</item>
</menu>


